.img-container {
  overflow: hidden;
}

.newsletter {
  position: relative;
  top: 150px;
  width: 100%;
  height: 0;
  -webkit-transition: top 0.5s; /* For Safari 3.1 to 6.0 */
  transition: top 0.5s;
}

.img-container:hover .newsletter {
  top: -80px;
}

.product_container {
  overflow: hidden;
}

.addProduct {
  position: relative;

  top: 150px;
  width: 100%;

  -webkit-transition: top 0.5s; /* For Safari 3.1 to 6.0 */
  transition: top 0.5s;
}

.product_container:hover .addProduct {
  top: 10px;
}

/* .newProduct {
  position: relative;
  top: -150px;
  width: 100%;
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
  -moz-transition: top 0.5s;
  -ms-transition: top 0.5s;
  -o-transition: top 0.5s;
}

.product_container:hover .newProduct {
  top: -20px;
} */

/* 
.nav {
  width: 300px;
}

.list {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 0 16px 0 16px;
  -webkit-border-radius: 0 16px 0 16px;
  -moz-border-radius: 0 16px 0 16px;
  -ms-border-radius: 0 16px 0 16px;
  -o-border-radius: 0 16px 0 16px;
  background-color: brown;
}

.list__item {
  list-style: none;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.list__item--click {
  cursor: pointer;
}

.list__button {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 70%;
  margin: 0 auto;
}

.list__show {
  width: 80%;
  margin-left: auto;
  border-left: 2px solid #303440;
  list-style: none;
  height: 0;
  transition: height 0.4s;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  -ms-transition: height 0.4s;
  -o-transition: height 0.4s;
}

.nav__link--inside:hover {
  background-color: #f6f8fa;
}

.nav__link--inside {
  border-radius: 6px;
  padding-left: 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.nav__link {
  color: #303440;
  display: block;
  padding: 15px 0;
  text-decoration: none;
}

.arrow .list__arrow {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.list__arrow {
  margin-left: auto;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}

.show-nav {
  display: block;
}
 */

/* ---------------- Modificar los Bullets de swiper Beneficios -------------------- */
.beneficioRelative {
  position: relative;
}
.swiper-pagination-beneficios
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: transparent;
  background-image: url(../images/svg/bullets.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}
.swiper-pagination-beneficios .swiper-pagination-bullet {
  background-color: #eb5d2c;
  opacity: 1;
}
.swiper-pagination-beneficios.swiper-pagination-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  /*  position: absolute;

  left: -295px;
  --swiper-pagination-bottom: 670px; */
}

@media (min-width: 1024px) {
  .swiper-pagination-beneficios.swiper-pagination-horizontal {
    --swiper-pagination-bottom: 670px;
    position: absolute;
    justify-content: start;
    /* padding: 0 13px; */
  }
}

/* Barras de scroll estilos */

.scroll__categorias::-webkit-scrollbar {
  width: 10px;
  background-color: #f1f1f1;
}

.scroll__categorias::-webkit-scrollbar-thumb {
  background-color: #21201e;
  border-radius: 2rem;
}

/* -------- ------ */

/* ---------------- Modificar los Bullets de swiper Testimonios ------------------*/

/* .swiper-pagination-testimonios.swiper-pagination-horizontal {
  background-color: rgb(0, 0, 0);
  position: absolute;

  display: flex;

  justify-content: center;
  align-items: center;
}
 */

/* ---------------categorias -------------------- */

.swiper-pagination-categorias.swiper-pagination-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  /*  position: absolute;

  left: -295px;
  --swiper-pagination-bottom: 670px; */
}
.swiper-pagination-categorias
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: transparent;
  background-image: url(../images/svg/bullets.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}
.swiper-pagination-categorias .swiper-pagination-bullet {
  background-color: #eb5d2c;
  opacity: 1;
}

/* 
.categorias {
  position: relative;
}

.swiper-pagination-categorias.swiper-pagination-horizontal {
  position: absolute;
  display: flex;
  justify-content: left;
  align-items: center;
  top: 0 !important;
  left: 10px !important;
  bottom: 0 !important;
  height: 50px;

  padding-top: 10px;
}

.swiper-pagination-categorias
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: transparent;
  background-image: url(../images/svg/bullets.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}
.swiper-pagination-categorias .swiper-pagination-bullet {
  background-color: #eb5d2c;
  opacity: 1;
} */

/* ---destacados-- */

/* .swiper-pagination-productos-destacados.swiper-pagination-horizontal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
 */

.productos-destacados {
  position: relative;
  /* height: 500px; */
}

.swiper-pagination-productos-destacados.swiper-pagination-horizontal {
  position: absolute;
  display: flex;
  justify-content: left;
  align-items: center;
  top: 0 !important;
  left: 10px !important;
  bottom: 0 !important;

  height: 50px;
}

.swiper-pagination-productos-destacados
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: transparent;
  background-image: url(../images/svg/bullets.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}
.swiper-pagination-productos-destacados .swiper-pagination-bullet {
  background-color: #eb5d2c;
  opacity: 1;
}

/* ----------------------- productos en oferta -------- */

/* .swiper-pagination-productos-oferta.swiper-pagination-horizontal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.productos-oferta {
  position: relative;
}

.swiper-pagination-productos-oferta.swiper-pagination-horizontal {
  position: absolute;
  display: flex;
  justify-content: left;
  align-items: center;
  top: 0 !important;
  left: 10px !important;
  bottom: 0 !important;
  height: 50px;

  padding-top: 10px;
}

.swiper-pagination-productos-oferta
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: transparent;
  background-image: url(../images/svg/bullets.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}
.swiper-pagination-productos-oferta .swiper-pagination-bullet {
  background-color: #eb5d2c;
  opacity: 1;
}

/* ---------------------------------------------- */

/* ----------------------- testimonios -------- */

/* .swiper-pagination-productos-oferta.swiper-pagination-horizontal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.myTestimonios {
  position: relative;
}

.swiper-pagination-testimonios.swiper-pagination-horizontal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .swiper-pagination-testimonios.swiper-pagination-horizontal {
    justify-content: end;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    /* width: 200px !important; */
    width: 100%;
    padding-right: 5rem;
    height: 50px;
  }
}

.swiper-pagination-testimonios
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: transparent;
  background-image: url(../images/svg/bullets.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}
.swiper-pagination-testimonios .swiper-pagination-bullet {
  background-color: #eb5d2c;
  opacity: 1;
}

/* ---------------------------------------------- */

/* radius color */
.background-radius {
  accent-color: black;
}

.swiper-pagination-productos.swiper-pagination-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-productos
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: transparent;
  background-image: url(../images/svg/bullets.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}

.swiper-pagination-productos .swiper-pagination-bullet {
  background-color: #eb5d2c;
  opacity: 1;
}
/* ---- */

.swiper-pagination-producto-catalogo.swiper-pagination-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* prueba */

.productos-complementarios {
  position: relative;
  /* height: 500px; */
}

.swiper-pagination-producto-complementario.swiper-pagination-horizontal {
  position: absolute;
  display: flex;
  justify-content: left;
  align-items: center;
  top: 0 !important;
  left: 10px !important;
  bottom: 0 !important;

  height: 50px;
}

.swiper-pagination-producto-complementario
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: transparent;
  background-image: url(../images/svg/bullets.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}
.swiper-pagination-producto-complementario .swiper-pagination-bullet {
  background-color: #eb5d2c;
  opacity: 1;
}
/* .swiper-pagination-producto-complementario.swiper-pagination-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .swiper-pagination {
  --swiper-paginations-bottom: 600px;
  left: -530px;
  display: flex;
  align-items: center;
  overflow: auto;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: transparent;
  background-image: url(../images/svg/bullets.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}
.swiper-pagination .swiper-pagination-bullet {
  background-color: black;
  opacity: 1;
} */

/* ------ */
.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  background-color: #f7beab !important;
}

/* select comentario */

.dropdown-comentario:hover .dropdown-menu-comentario {
  display: block;
}

/* select departamentoio */
.dropdown-departamento:hover .dropdown-menu-departamento {
  display: block;
}

/* bag - inicio  */

.bag {
  /* width: 600px; */
  background-color: white;
}

.bag__modal:checked + .bag {
  display: block;
}

.bag__modal {
  display: none;
}

/* .body {
  transition: background-color 0.3s ease-in-out; 
}
.body.dark {
  background-color: rgba(0, 0, 0, 0.5); 
} */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
  z-index: 50; /* Z-index superior para superponerse a otros elementos */
  display: none; /* Ocultar inicialmente */
}
.body.dark .overlay {
  display: block; /* Mostrar la superposición cuando el cuerpo está oscurecido */
}

/* --------------- modal direccion   ------------------- */

.modal-mostrar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s 0.9s;
  --transform: translateY(-100vh);
  --transition: transform 0.8s;
}

.modal--show {
  opacity: 1;
  pointer-events: unset;
  transition: opacity 0.6s;
  --transform: translateY(0);
  --transition: transform 0.8s 0.8s;
}

.modal__mostrar-info {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin: auto;
  width: 90%;
  max-width: 800px;
  max-height: 900px;
  background-color: #fff;

  padding: 20px;
  place-items: center;
  grid-auto-columns: 100%;
  transform: var(--transform);
  transition: var(--transition);

  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.modal__close-mostrar {
  display: inline-block;
}

/* ---------------- Corona circular ------------------------------ */
.circle-container {
  position: relative;
  display: flex;
  margin: 10px;
  width: 3rem;
  height: 3rem;
}

.circle {
  width: 3rem;
  height: 3rem;
  /*  background-color: #f9cca7; */
  border-radius: 50%;
}

/* Estilo para la corona */
.circle-container::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  border: 3px solid transparent;
  border-radius: 50%;
  transition: border-color 0.1s ease-in-out;
  -webkit-transition: border-color 0.1s ease-in-out;
  -moz-transition: border-color 0.1s ease-in-out;
  -ms-transition: border-color 0.1s ease-in-out;
  -o-transition: border-color 0.1s ease-in-out;
}

/* Al pasar el mouse sobre el contenedor */
.corona::before {
  border-color: #151515; /* Color del borde al pasar el mouse */
}

/* -----------------modal filtro--------------- */

/* clase del modal oculto */
.modal-filtros {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s 0.9s;
  --transform: translateY(-100vh);
  --transition: transform 0.8s;
  -webkit-transition: opacity 0.6s 0.9s;
  -moz-transition: opacity 0.6s 0.9s;
  -ms-transition: opacity 0.6s 0.9s;
  -o-transition: opacity 0.6s 0.9s;
}

/* S le agregar cuando se da click en abri en modal */
.modal--show-filtro {
  opacity: 1;
  pointer-events: unset;
  transition: opacity 0.6s;
  --transform: translateY(0);
  --transition: transform 0.8s 0.8s;
}

/* Tamaño del elemento que esta dentr del modal */
.modal__mostrar-filtro {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin: auto;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  background-color: #fff;

  padding: 20px;
  place-items: center;
  grid-auto-columns: 100%;
  transform: var(--transform);
  transition: var(--transition);

  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/* Cierra el modal */
.modal__close-filtro {
  display: inline-block;
}

/* scroll carrito */

.scroll__carrito::-webkit-scrollbar {
  width: 3px;
  background-color: #f1f1f1;
}

.scroll__carrito::-webkit-scrollbar-thumb {
  background-color: #151515;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

/* ---- */

.scroll-direccion::-webkit-scrollbar {
  width: 3px;
  background-color: #f1f1f1;
}

.scroll-direccion::-webkit-scrollbar-thumb {
  background-color: #151515;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
